footer.footer
  .footer_burger
  .footer_wrapper
    a.footer_logo(href='/')
      img(src=require('Assets/images/logo.png'))
    .footer_menu
      a.footer_menu_item(href='#') О компании
      a.footer_menu_item(href='#') Вакансии
      a.footer_menu_item(href='#') Контакты
      a.footer_menu_item(href='#') Тарифы
    .footer_phones
      a.footer_phones_item(href='tel:78462054141') +7 (846) 205 41 41
      a.footer_phones_item(href='tel:79879554141') +7 (987) 955 41 41