header.header
  .header_burger
  .header_wrapper
    a.header_logo(href='/')
      img(src=require('Assets/images/logo.png'))
    .header_menu
      a.header_menu_item(href='#') О компании
      a.header_menu_item(href='#') Вакансии
      a.header_menu_item(href='#') Контакты
      a.header_menu_item(href='#') Тарифы
    .header_phones
      a.header_phones_item(href='tel:78462054141') +7 (846) 205 41 41
      a.header_phones_item(href='tel:79879554141') +7 (987) 955 41 41