@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

.block_1 {
  padding-top: 120px;
  padding-bottom: 90px;
  background: url(~Assets/images/block_1_bg.png) right no-repeat #eef3f6;
  background-size: contain;
  @media (max-width: $mobile_bp) {
    padding: 70px 0;
    background-position: bottom;
  }
  &_wrapper {
    padding: 0 15px;
  }
  &_title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    @media (max-width: $mobile_bp) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &_subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    @media (max-width: $mobile_bp) {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  &_label {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: normal;
  }
  &_inputs_group {
    display: flex;
    margin-bottom: 15px;
    @media (max-width: $mobile_bp) {
      flex-direction: column;
    }
  }
  &_input {
    border: none;
    outline: none;
    border-radius: 20px;
    line-height: 1;
    color: $white;
    padding: 12px 20px;
    background: #11598a;
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
    transition: $common_transition;
    width: 100%;
    &:focus {
      background: #0f4776;
    }
    @media (max-width: $mobile_bp) {
      margin-bottom: 10px;
    }
    @include placeholder {
      color: $white;
      opacity: 0.8;
    }
    &--lg {
      max-width: 320px;
    }
    &--sm {
      max-width: 80px;
    }
    &--date {
      max-width: 320px;
      position: relative;
      padding: 10px 20px;
      margin-bottom: 30px;
      &:before {
        content: '';
        background: url(~Assets/images/calendar.svg);
        background-size: contain;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
      }
      &:after {
        content: '';
        background: url(~Assets/images/down-arrow.svg);
        background-size: contain;
        width: 10px;
        height: 10px;
        display: inline-block;
        justify-self: flex-end;
        position: absolute;
        right: 15px;
        top: calc(50% - 5px);
      }
      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: $white;
        font-size: inherit;
        font-family: inherit;
      }
    }
  }
  &_selected {
    background: #11598a;
    color: $white;
    width: 320px;
    border-radius: 20px;
    padding: 12px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    &:before {
      content: '';
      background: url(~Assets/images/truck.svg);
      background-size: contain;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 5px;
    }
    &:after {
      content: '';
      background: url(~Assets/images/down-arrow.svg);
      background-size: contain;
      width: 10px;
      height: 10px;
      display: inline-block;
      justify-self: flex-end;
      position: absolute;
      right: 15px;
    }
  }
  &_select {
    position: relative;
    margin-bottom: 20px;
    &_dropdown {
      position: absolute;
      top: 20px;
      left: 0;
      background: #11598a;
      color: $white;
      list-style: none;
      padding-top: 20px;
      border-radius: 0 0 20px 20px;
      max-height: 0;
      overflow: hidden;
      transition: $common_transition;
      cursor: pointer;
      z-index: 1;
      &_item {
        padding: 12px 20px;
        width: 320px;
        transition: $common_transition;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
        &:before {
          content: '';
          background: url(~Assets/images/truck.svg);
          background-size: contain;
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
}

.block_2 {
  padding: 120px 0 90px;
  background-image: url(~Assets/images/bg_2.png);
  background-repeat: no-repeat;
  background-position: 20% 0;
  @media (max-width: $tablet_bp) {
    background-position: left top;
    background-size: 340px;
    padding: 120px 15px 90px;
  }
  &_wrapper {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &_text_container {
    max-width: 470px;
    align-self: flex-end;
    margin-right: 100px;
    @media (max-width: $tablet_bp) {
      margin-right: 0;
    }
    @media (max-width: $mobile_bp) {
      max-width: 100%;
      text-align: center;
    }
  }
  &_title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 1;
    @media (max-width: $mobile_bp) {
      font-size: 36px;
    }
  }
  &_text {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 35px;
  }
  &_links {
    display: flex;
    margin-bottom: 170px;
    @media (max-width: $tablet_bp) {
      margin-bottom: 50px;
    }
    @media (max-width: $mobile_bp) {
      flex-direction: column;
    }
  }
  &_link {
    &:first-child {
      margin-right: 10px;
    }
    img {
      height: 60px;
      width: auto;
    }
  }
  &_table {
    &_wrapper {
      @media (max-width: $tablet_bp) {
        overflow-x: scroll;
      }
    }
    &_title {
      text-align: center;
      margin-bottom: 30px;
      font-size: 36px;
    }
  }
  &_finetext {
    margin-top: 15px;
    font-size: 12px;
    color: #717171;
  }
}